@tailwind base;
@tailwind components;
@tailwind utilities;

ul.list-with-divider > li:not(:first-child)::before {
  content: '\2022';
  margin: 0 8px 0px 4px;
  cursor: none !important;
}

.premium-card {
  box-shadow: 0 1px 0 rgb(9 30 66 / 10%)
}
